<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/navbar.css">
</head>
<body>
    <header>
        <a href="index.html">
            <div class="logo">
                <img src="../Assets/logo_round.png" alt="RC LOGO">
                <div class="brand">
                    <span class="brandname">RESILIENT COMMUNITIES</span>
                    <span class="motto">Inspiration through Innovation</span>
                </div>
            </div>
        </a>
        
        <nav>
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Internship Programs</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#" class="btn support-btn">Support Us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
