@font-face {
    font-family: Kennedy;
    src:url("C:/Users/hp/Downloads/Kennedy SC GD Book.ttf");
}

body, html {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    

}

header .logo img {
    width: 80px;
    height: 80px;
}

header .logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    gap: 5%;
}

.slogan {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
span.mainslogan {
    font-family: 'Roboto Serif', serif;
    color: #0E773F;
}
li a {
    color: #222831;
}
li.active a {
    color: #0E773F;
}
span.subslogan {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: #808080;
}
nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

nav ul li {
    float: left;
    margin-right: 5%;

}

nav ul li:last-child {
    float: left;
    margin-right: 0;

}

a {
    text-decoration: none;
    color: black;
}

main h1 {
    font-weight: 400;
    font-family: Kennedy !important;
    font-size: 1.7em;
}

main {
    height: 100%;
    width: 100%;
}

.page-wrapper {
    padding: 0 5%;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-image: url("../Assets/svgs/ooorganize.svg"); */
}
/* 
.page-wrapper::before {
    content: "";
    background: url("../Assets/svgs/svgshape.svg") no-repeat;
    background-size: contain;
    width: 50%; 
    height: 50%; 
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
} */


.normal-text {
    color: #000;
    text-align: justify;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 150% */
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-knobs, .right-knobs {
    display: flex;
    gap: 15px;
}
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter img {
    width: 25px;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid gray;
    background-color: white;
    height: 320px;
    min-height: fit-content;
    min-width: 230px;
    width: 270px;
    border-radius: 0.8em;
    overflow: hidden;
}

.bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    padding: 0 3%;
}

.card-image {
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    overflow: hidden;
    width: 100%;
    height: 30%;
    min-height: 130px;
    
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.card span.title {
    color: #000;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.progress-2 {
    width:100%;
    min-height:10px;
    border-radius: 10px;
    background:linear-gradient(#0E773F 0 0) 0/10% no-repeat whitesmoke;
    animation:p2 2s infinite steps(10);
  }

.read-more {
    cursor: pointer;
    background-color: white;
    border: 1px solid #808080;
    border-radius: 0.8em ;
    display: flex;
    width: 100%;
    min-height: 2rem;
    padding: 0rem 4.2em;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stats {
    padding: 3%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    background-color: whitesmoke;
    height: 20%;

}

.raised, .Goal, .Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.introduction {
    height: 24vh;
}


